<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Addition Page</title>
</head>
<body style="background-color: black; color: white; text-align: center; padding-top: 10%;">
    <form method="POST">
        <label for="" >Enter the Task hear : </label>
        <input type="text" name="task" placeholder="Enter the Task" required><br/>
        <input type="submit" value="Add Task"><br/>
        <input type="button" value="Go Back" onclick="window.location.href='/' ">
    </form>
</body>
</html>